{% extends 'no-nav.html' %}
{% load static %}

{% block title %} Login {% endblock %}

{% block content %}
<div class="d-flex flex-column w-100 h-100 mt-12 m-sm-0 justify-content-start justify-content-sm-center align-items-center">
    <form method="post" class="d-flex flex-column align-items-end gap-6 m-0 px-8 px-sm-0 w-100 w-sm-400px">
        {% csrf_token %}
        <h1 class="text-poppins fw-bolder fs-3x text-center mb-6 w-100">BarHop</h1>

        <div class="fv-row fv-plugins-icon-container w-100">
          <input id="{{ form.username.id_for_label }}" name="{{ form.username.html_name }}" type="text" placeholder="Username" autocomplete="off" class="form-control form-control-solid" required />
          <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
        </div>

        <div class="fv-row fv-plugins-icon-container w-100">
          <input id="{{ form.password.id_for_label }}" name="{{ form.password.html_name }}" type="password" placeholder="Password" class="form-control form-control-solid" required />
          <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
        </div>

        <a class="fw-semibold text-main text-end" href="{% url 'auth:password_reset' %}">Forgot password?</a>
        <button class="btn btn-info w-100" type="submit">Login</button>
        <span class="fs-semibold text-gray-600 text-center w-100">
          Don't have an account? <a class="text-main" href="{% url 'auth:register' %}">Sign up</a>
        </span>
        <span class="fs-semibold text-gray-600 text-center mt-6 w-100">
          or <a class="text-main" href="/">Continue as Guest</a>
        </span>
    </form>

    {% if form.errors %}
        <p style="color:red;">Invalid username or password</p>
    {% endif %}
</div>
{% endblock %}