{% extends 'base.html' %}
{% load static %}

{% block title %} Bars {% endblock %}

{% block content %}
  {% if request.user.is_authenticated and user.username in request.path %}
  <div class="bar-list-container">
    {% for bar in bars %}
      <div class="bar-element">
        <h2>{{ bar.bar_name }}</h2>
        <p>Activity: {{ bar.bar_status }}</p>
        <a href="{% url 'bars:bar-details' bar_id=bar.id %}">more details</a>
      </div>
    {% endfor %}
    <a href="{% url 'bars:create-bar' %}" class="btn btn-info">Create Bar</a>  
    {% else %}
      <div>
        <h1>shseehsh</h1>
        {% for bar in bars %}
        <div class="bar-element">
          <h2>{{ bar.bar_name }}</h2>
          <p>Activity: {{ bar.bar_status }}</p>
        </div>
        <a href="{% url 'bars:bar-details' bar_id=bar.id %}">more details</a>
      {% endfor %}
    </div>
  </div>
  {% endif %}

{% endblock %}